global:
  scrape_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  - job_name: "ml_model"
    static_configs:
      - targets: ["http://3.208.24.113:8000/metrics"] 

rule_files:
  - "/etc/prometheus/alerts.yml"